<section class="dashboard">
  <div class="reports">
    <div class="reports__card" *ngFor="let item of (assessmentReport$ | async)">
      <div class="image">
        <img [src]="item.image_url" [alt]="item.name">
      </div>
      <div class="data">
        <div class="name">{{ item.name }}</div>
        <div class="data__additional">
          <div class="resolved"><i class="fa-solid fa-user-check"></i> {{item.users_resolved}}</div>
          <div class="status" [ngClass]="item.active ? 'active' : 'inactive'"></div>
        </div>
        <div class="open__graph">
          <button class="open__graph-btn">graph</button>
        </div>
      </div>
    </div>
  </div>
</section>
